:root {
    --table-border-color: rgba(171, 175, 179, 1);
    --table-hightlight-border-color: rgba(0, 103, 206, 1);
    --table-hightlight-background-color: rgba(50, 128, 206, 1);
    --table-dark-background-color: rgba(220, 222, 224, 0.5);
    --table-preview-selection-background-color: rgba(169, 200, 231, 0.5);
    --table-controller-width: 12px;
}

$add-column-mark-width: 4px;

.ProseMirror {
    border: 1px solid red;
    min-height: 300px;
    padding: 32px;
}

.ProseMirror table td {
    border-top: solid 1px var(--table-border-color);
    border-left: solid 1px var(--table-border-color);
}

.ProseMirror table th {
    border-top: solid 1px var(--table-border-color);
    border-left: solid 1px var(--table-border-color);
    background-color: var(--table-dark-background-color);
}

.ProseMirror table {
    border-bottom: solid 1px var(--table-border-color);
    border-right: solid 1px var(--table-border-color);
}

.remirror-table-controller-wrapper {
    position: relative;
    padding: 0px;
    margin: 0px;
}

.remirror-table-controller {
    background-color: var(--table-dark-background-color);
    visibility: hidden;
}

.remirror-table-controller-wrapper--show-controllers .remirror-table-controller {
    visibility: visible;
}

.remirror-table-wrapper {
    padding: 0px;
}

.selectedCell {
    z-index: 10000;
}

.selectedCell.remirror-table-controller {
    background-color: var(--table-hightlight-background-color);
}

.remirror-table-controller {
    padding: 0;
    cursor: pointer;
}

.ProseMirror table {
    // spec for marks
    margin-top: 40px;

    // To let `.ProseMirror table .remirror-table-row-controller`'s `height: 100%` works, `table` must set its `height`.
    height: 1px;

    // To show the .remirror-table-controller__mark
    overflow: visible !important;
}

