:root {
    --table-border-color: rgb(171, 175, 179);
    --table-dark-background-color: rgb(244, 245, 246);
    --table-controller-width: 20px;
}

.ProseMirror {
    border: 1px solid red;
    min-height: 300px;
    padding: 32px;
}

.ProseMirror td {
    border: solid 1px var(--table-border-color);
}

.ProseMirror th {
    border: solid 1px var(--table-border-color);
    background-color: var(--table-dark-background-color);
}

.remirror-table-controller-wrapper {
    position: relative;
    padding: 0px;
    margin: 0px;

    overflow: auto;
}

.remirror-table-controller__col {
    height: var(--table-controller-width);

    left: var(--table-controller-width);
    top:0px;

    position: absolute;
    background-color: var(--table-dark-background-color);
    z-index: 1000;

    display: none;
    flex-direction: row;

    &-cell {
        border: solid 1px var(--table-border-color);
        display: block;
        border-bottom: none;
    }
}

.remirror-table-controller__row {
    width: var(--table-controller-width);

    top: var(--table-controller-width);
    left: 0px;

    position: absolute;
    background-color: var(--table-dark-background-color);
    z-index: 1000;

    display: none;
    flex-direction: column;

    &-cell {
        border: solid 1px var(--table-border-color);
        display: block;
        border-right: none;
    }
}

.remirror-table-controller__corner {
    width: var(--table-controller-width);
    height: var(--table-controller-width);

    top: 0px;
    left: 0px;

    position: absolute;
    background-color: var(--table-dark-background-color);
    z-index: 1000;

    display: none;
    border: solid 1px var(--table-border-color);
}

.remirror-table-controller-wrapper--show-controllers .remirror-table-controller__col { display: flex;}
.remirror-table-controller-wrapper--show-controllers .remirror-table-controller__row { display: flex;}
.remirror-table-controller-wrapper--show-controllers .remirror-table-controller__corner { display: flex;}

.remirror-table-measurer {
    margin-left: var(--table-controller-width);
    margin-top: var(--table-controller-width);
}

.remirror-table-wrapper {
    padding: 0px;
}
