:root {
    --table-border-color: rgb(171, 175, 179);
    --table-dark-background-color: rgb(244, 245, 246);
    --table-controller-width: 20px;
}

.ProseMirror {
    border: 1px solid red;
    min-height: 300px;
    padding: 32px;
}

.ProseMirror td {
    border: solid 1px var(--table-border-color);
}

.ProseMirror th {
    border: solid 1px var(--table-border-color);
    background-color: var(--table-dark-background-color);
}

.remirror-table-controller-wrapper {
    position: relative;
    padding: 0px;
    margin: 0px;

    overflow: auto;
}

.remirror-table-controller {
    background-color: var(--table-dark-background-color);
    visibility: hidden;
}

.remirror-table-controller-wrapper--show-controllers .remirror-table-controller {
    visibility: visible;
}

.remirror-table-wrapper {
    padding: 0px;
}

tr > :first-child {
    width: var(--table-controller-width);
}

